body{
    background-image: url("../img/admin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.login_form{
    padding-top: 5%;
    margin: auto;
    width: 600px;
    height: 350px;
    background-color: #001f3f;
    text-align: center;
    margin-top: 10%;

}

.login_form input{
    width: 70%;
    height: 60px;
    margin-top: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    padding-left: 10px;
    font-family: 'BPG Algeti';

}

.login_form button{
    width: 70%;
    height: 50px;
    margin-top: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    margin-right: 5px;
    background-color: #1F618D;
    color: white;
    font-family: 'BPG Algeti';
}

.error{
    color: red;
    margin-top: 20px;
    font-size: 17px;
    font-family: 'BPG Algeti';
}